.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

/*.login__logo {
    height: 40%;
    width: 80%;
    margin: -200px 0 -250px -100px;
    padding: 0;
}*/
img {
  height: 350px;
  object-fit: contain;
}

.login > button {
  width: 300px;
  background-color: #738adb;
  color: white;
  font-weight: 800;
}

.login > button:hover {
  background-color: black;
  color: #738adb;
}
